body {
    background-image: url("http://kb4images.com/images/music-wallpaper/36180455-music-wallpaper.jpg");
    background-size: auto;
    min-height: 100%;
}

html {
    height: 100%;
}

.key {
    border: 1px solid black;
    width: 90px;    
    padding: 10px;
    transition: all 0.07s;
    margin-top: 100px;
}

.playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 10px red;
}